# === Artefakty testów ===
test_book
test_lib
*.profraw
*.profdata

# === Pokrycie kodu (coverage) ===
coverage/
coverage_html/
coverage.info

# === Pliki obiektowe ===
*.o

# === Build artefakty ===
app
*.out
*.exe

# === IDE / edytory ===
.vscode/
.idea/
.DS_Store

# Debug symbols
*.dSYM/